/*.out
/Makefile
/autom4te.cache
/buildit.sh
/buildpkg.sh
/config.cache
/config.h
/config.log
/config.status
/openssh.xml
/opensshd.init
/scp
/sftp
/sftp-server
/ssh
/ssh-add
/ssh-agent
/ssh-keygen
/ssh-keyscan
/ssh-keysign
/ssh-rand-helper
/ssh_prng_cmds
/sshd
/stamp-h.in
/survey
/survey.sh
contrib/gnome-ssh-askpass1
contrib/gnome-ssh-askpass2
openbsd-compat/Makefile
debian/*.debhelper*
debian/*substvars
debian/build-deb
debian/build-deb-ssh1
debian/build-udeb
debian/files
debian/keygen-test/key1
debian/keygen-test/key1.pub
debian/keygen-test/key2
debian/keygen-test/key2.pub
debian/openssh-client
debian/openssh-client-udeb
debian/openssh-server
debian/openssh-server-udeb
debian/ssh
debian/ssh-askpass-gnome
debian/ssh-krb5
debian/tmp
