Source: openssh
Section: net
Priority: standard
Maintainer: Matthew Vernon <matthew@debian.org>
Build-Depends: libwrap0-dev | libwrap-dev, zlib1g-dev | libz-dev, libssl-dev, libpam0g-dev | libpam-dev, libgnomeui-dev (>= 2.0.0) | libgnome-dev, groff, debhelper (>=1.1.17), sharutils
Standards-Version: 3.6.1
Uploaders: Colin Watson <cjwatson@debian.org>

Package: ssh
Architecture: any
Depends: ${shlibs:Depends}, ${debconf-depends}, libpam-modules (>= 0.72-9), adduser (>= 3.9)
Conflicts: ssh-nonfree (<<2), ssh-socks, ssh2, sftp, rsh-client (<<0.16.1-1)
Suggests: ssh-askpass, xbase-clients, dpkg (>=1.8.3.1), dnsutils
Provides: rsh-client
Description: Secure rlogin/rsh/rcp replacement (OpenSSH)
 This is the portable version of OpenSSH, a free implementation of
 the Secure Shell protocol as specified by the IETF secsh working
 group.
 .
 Ssh (Secure Shell) is a program for logging into a remote machine
 and for executing commands on a remote machine.
 It provides secure encrypted communications between two untrusted
 hosts over an insecure network.  X11 connections and arbitrary TCP/IP
 ports can also be forwarded over the secure channel.
 It is intended as a replacement for rlogin, rsh and rcp, and can be
 used to provide applications with a secure communication channel.
 .
 This package provides both the ssh client and the sshd server.
 .
 --------------------------------------------------------------------
 .
 In some countries it may be illegal to use any encryption at all
 without a special permit.

Package: ssh-askpass-gnome
Section: gnome
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ssh (>=1:1.2pre7-4) | ssh-krb5
Replaces: ssh (<< 1:3.5p1-3)
Provides: ssh-askpass
Description: under X, asks user for a passphrase for ssh-add
 This has been split out of the main ssh package, so that the ssh will
 not need to depend upon the Gnome libraries.
 .
 You probably want the ssh-askpass package instead, but this is
 provided to add to your choice and/or confusion.

